[package]
name = "cspr-cdp-session"
version.workspace = true
edition.workspace = true
license.workspace = true

[lib]
crate-type = ["cdylib"]

[dependencies]
cspr-cdp-contracts = { path = "../contracts" }
odra = { workspace = true }
